body {
    background-color:rgb(187, 91, 123);
  }
  h1 {
    color: blue;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  }
  p {
    color: red;font-family: 'Times New Roman', Times, serif;position: absolute;
    left: 20px;
    top: 20px;
  }